body{
  margin:0;
  padding:0;
  color:#111122; 
}
  
  #header{  
    border-bottom:0.5em solid #ffe5ec;
    margin-top:15px;
    margin-bottom:30px;
   }
    
  h1{
    text-align:center;
}
  
  #intro{
    text-align:center;
    margin:0.2em;
  }
  
  figure {
    width:80%;
    display:flex;
    flex-direction:column;
    background-color:#ffe5ec;
    margin:0 auto;
  }
  
  img {
    display:block;
    max-width:100%;
    height:auto;
    padding:0px;
  }
  
  figcaption{
    font-size:1em;
    text-align:left;
    padding-left:20px;
  }
  
  #preface{
    text-align:center;
    width:80%;
    margin:0 auto;
    margin-top:2em;
  }
  
  p{
    margin:2em;
}
  
h2{
  text-align:center;
  margin-bottom:2em;
}
  
  #tribute-info{
    margin-top:4em;
    text-align:center;
  }
  
  ul>li {
    list-style:none;
    text-indent:0em;
    margin-top:1em;
    margin-bottom:2em;
    text-align:left;
  }
  
  ul{
    margin: 0 auto 60px auto;
    max-width:800px;
    display:inline-block;
    padding:0 2em;
  }
  
  #phrase{
    text-align:center;
    font-size:1.1em;
    margin-bottom:4em;
  }
  
  #website-referer{
    margin-bottom:0;
    margin-top:5em;
    text-align:center;
  }
  
  #website-referer{
    background-color:#ffe5ec;
    padding:1em;
    margin:0;
  }
  
